body{
  background-image: url("https://images.pexels.com/photos/461940/pexels-photo-461940.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  
}
#bt{
  margin: auto;
  margin-top: 50px;
  background-color:wheat;
  font-size: large;
}
#sbt:hover,#bt:hover{
  background-color: azure;
}
#addtaskbody{

  background-color: bisque;
  
}
#sbt{
  background-color: rgb(243, 176, 75);
}
#tsktable,.taskrow{
  background-color: bisque;
}
.taskrowaclick{
  background-color: rgb(76, 220, 114);
}
.btndel{
  background-color: rgb(228, 72, 72);
  margin: 4px;
  outline: none;
}
.db{
  background-color: rgb(170, 228, 170);
  margin: 4px;
  outline: none;
}
.th{
  background-color: rgb(243, 189, 119);
}




